@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

footer a {
  text-decoration: underline;
}

@media (min-width: 640px) {
  .carousel img {
    height: 48rem; /* does this work for your images?? Check! */
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
